:root{
    --dark-pink:#FD5852;
    --black: #332622;
    --white:#F8F5F4;
    --blue-green: #247ba0;
    --blue:#5f758e;
    --beige: #e6dece;

}




.aboutUs_section img{
    width: 46%;
    height: 280px;
}   


.aboutUs-cont .text-area{
    width: 48%;
}

.aboutUs_section h1{
    font-weight: 600;
    letter-spacing: 1px;
    font-size: clamp(24px ,2.8vw ,48px);
    margin-bottom: 30px;

}


.aboutUs-cont h3{
    font-size: clamp(19px ,1.6vw ,25px);
    letter-spacing: .5px;
}
.aboutUs_section p{
    font-style: italic;
    letter-spacing: .4px;
    line-height: 1.6;
    font-size: clamp(13px ,1vw ,18px);
}

.aboutUs_section1 h1{
    color: var(--blue-green);

}



.aboutUs_section1 p{
    color: gray;

}

.aboutUs_section2 h1{
    color: var(--black);
}

.aboutUs_section2{
    background-color: var(--beige);
}




.aboutUs_section2 img{
    width: 40%;
    height: 350px;
    
}


.aboutUs_section2 .text-area{
    width: 52%;
}



.aboutUs_section2 .text-area div h3{
    line-height: 1.9;
    color: var(--dark-pink);
}



.aboutUs_section3 img{
    width: 35%;
    height: 300px;

}


.aboutUs_section3 .text-area{
    width: 58%;
}




.aboutUs_section3 h1{
    color: var(--dark-pink);
}


.aboutUs_section3 p{
    color: var(--blue);
}


.aboutUs_section4{
    background-color: var(--black);
}

.aboutUs_section4 h1{
    color: var(--white);
}


.aboutUs_section4 p{
    font-style: initial;
    color: var(--beige);
}

.aboutUs_section5 div{
    width: 70%;
}


.aboutUs_section5 h1{
    color: var(--dark-pink);
}


.aboutUs_section5 p{
    color: var(--blue);
}

.aboutUs_section5 img{
    height: 340px;
    width: 40%;
}


.aboutUs_section5 .text-area {
    width: 55%;
}


.aboutUs_section6{
    background-color: var(--dark-pink);
}

.aboutUs_section6 h1{
    color: var(--black);
}

.aboutUs_section6 p{
    color: var(--beige);
}


@media(max-width:992px){
    .aboutUs_section5 div{
        width: 100%;
    }  
}




@media(max-width:768px){
    .aboutUs_section3 div, .aboutUs_section5 div{
        flex-direction: column-reverse;
    }
    .aboutUs_section img{
        width: 100%;
    }
    .aboutUs_section1 img{
        height: 230px;
        
    }
    

    .aboutUs_section2 img{
        height: 200px;
    }

    .aboutUs_section4 img{
        height: 210px;
    }
    .aboutUs-cont .text-area{
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
    }


    .aboutUs_section3 img{
        height: 230px;
    }


}


@media(max-width: 576px){
    .aboutUs_section img{
        height: 180px;
    }

}