:root{
    --dark-pink:#FD5852;
    --black: #332622;
    --white:#F8F5F4;
    --blue-green: #247ba0;
    --blue:#5f758e;
    --beige: #e6dece;

}


.testNameCont{
    height: 100vh;
    background-color: var(--dark-pink);
    color: var(--white);
}




.testNameCont form{
    padding: 60px 40px;
    border: 2px solid var(--beige);
    border-radius: 10px;
}

.testNameCont form label{
    color: var(--black);
}

.testNameCont form input{
    width: 250px;
    height: 40px;
    border: 1px solid var(--beige);
    padding-left: 10px;
    background-color: transparent;
    color: var(--beige);
    border-radius: 5px;
    outline: none;
}


.testNameCont form input::placeholder{
    color: var(--white);
}


select{
    padding: 8px 15px;
    border: none;
    background-color: var(--blue);
    color: white;
    outline: none;
    border-radius: 5px;
}

.table_div{
    width: 100%;
    max-height: 300px;
    overflow: auto;

}

#test_table{
    border-collapse: collapse;
    width: 100%;
    
}
#test_table , td,th{
    border: 1px solid #ddd;
    text-align: center;
    padding:5px 8px;
    font-size: clamp(14px ,1.1vw ,17px);
}
#test_table th{
    background-color: var(--blue-green);
    color: white;
    position: sticky;
    top: -30px;
}
#test_table tr:nth-child(even){
    background-color: lightgrey;
}


td{
    transition: .4s ease;
    outline: none;
}

td:hover{
    background-color: var(--dark-pink);
    color: var(--white);
    
    cursor: pointer;
}

.about_test{
    width: 24%;
    padding:10px 20px;
}

.about_test h4{
    font-size: clamp(17px ,1.5vw ,25px);
    color: var(--black);
    text-align: center;
}

.about_test p{
    color: var(--blue-green);
    font-size: clamp(13px ,1vw ,16px);
}

.about_test span{
    font-style: italic;
    color: gray;
    font-size: clamp(13px ,1vw ,16px);
    display: block;
    text-align: end;
    padding-top: 10px;
}

.about_test h6{
    font-size: 14px;
    color: gray;
}


.startExam_cont form{
    width: 50%;
    padding: 30px 40px;
    border: 1px solid var(--blue);
    border-radius: 20px;
}

.startExam_cont form label{
    margin-top: 20px;
    font-size: clamp(15px ,1.2vw ,17px);
}
.startExam_cont form button{
    margin-top: 20px;
}
.startExam_cont select{
    width: 100%;
}
.startExam_cont form input{
    width: 100%;
    height: 40px;
    border: 1px solid var(--blue-green);
    padding-left: 10px;
    border-radius: 8px;
    outline: none;
    font-size: clamp(13px ,1.2vw ,17px);
}


select{
    font-size: clamp(13px ,1.2vw ,17px);
}




.view_exam_status_cont{
    border-bottom: 1px solid var(--blue-green);
}

.view_exam_status{
    color: var(--black);
    cursor: pointer;
    font-size: clamp(15px ,1.3vw ,18px);
}

.view_exam_status.active{
    color: var(--dark-pink);
}

#viewExam_c h4{
    color: var(--blue-green);
    font-size: clamp(17px ,1.35vw ,22px);
}

.viewStudent_exam_block{
    padding: 20px;
    width: 32%;
    border-radius: 10px;
    border:1px solid var(--blue);
    color: var(--beige);
}

.examResults-opt_area{
    position: absolute;
    padding: 100px 12px;
    padding-top: 100px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(239, 239, 239);
    height: 100%;
    top: 0;
    left: 0;
    height: 100vh;
}

.examResults-opt_area i{
    width: 35px;
    height: 35px;
    background-color: var(--blue);
    color: white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: clamp(10px , 1vw ,12px);
    /* font-size: 12px; */

}


.examFilterSearch_block{
    position: absolute;
    width: 400px;
    height: 100vh;
    background-color: rgb(239, 239, 239);
    top: 0;
    left: -600px;
    padding: 20px;
    z-index: 6;
    transition: .9s ease;
}

.examResults-filter{
    position: absolute;
    width: 400px;
    height: 100vh;
    background-color: var(--beige);
    top: 0;
    left: 0;
}


.examRes_search input{
    outline: none;
    border: 1px solid var(--blue);
    background-color: transparent;
    padding: 5px;
    border-radius: 4px;
    color: var(--blue);
    letter-spacing: .3px;
}

.examRes_search input::placeholder{
    font-size: 14px;
}


.search_box,.filter_box{
    display: none;
}


.search_res_block{
    overflow-y: auto;
    height: 70vh;
}

.search-user-box{
    border: 1px solid var(--blue);
    border-radius: 8px;
   
}

.search-user-box i{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--dark-pink);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: clamp(12px ,1vw ,14px);
}

.search_res_block button{
    font-size: clamp(12px ,1vw ,14px);
    padding: 5px 10px;
}






.permission-cont{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(12,12,12,.7);
    transform: scale(0);
    transition: .6s ease;
    
}

.permission-box{
    width: 450px;
    height: 170px;
    padding: 20px;
    border-radius: 10px;
    background-color: lightgray;
}



#year_level, #select_test{
    display: none;
}
@media(max-width:1310px){
    .about_test{
        width: 31%;
    }
    .viewStudent_exam_block{
        width: 31.5%;

    }
}


@media(max-width:992px){
    .about_test{
        width: 48%;
    }

    .startExam_cont form{
        width: 70%;
    }


    .viewStudent_exam_block{
        width: 48%;

    }
   
}

@media(max-width:768px){
    .viewStudent_exam_block{
        width: 47%;

    }

    .examFilterSearch_block{
        width: 380px;
    }
}

@media(max-width:576px){
    .testNameCont form{
        padding:40px 20px;
        border: 2px solid var(--beige);
        border-radius: 10px;
    }


    .testNameCont form input{
        width: 210px;
        height: 38px;
        border: 1px solid var(--beige);
        padding-left: 10px;
        background-color: transparent;
        color: var(--beige);
        border-radius: 5px;
        outline: none;
    }
    

    
    select{
        padding: 6px 10px;
        border: none;
        background-color: var(--blue);
    }

    
    .about_test{
        width: 100%;
    }


    .startExam_cont form{
        width: 100%;
        padding: 30px 20px;
    }

    .viewStudent_exam_block{
        width: 100%;

    }
    

    .examResults-opt_area i{
        width: 31px;
        height: 31px;
    }

    .examFilterSearch_block{
        width: 100%;
    }
}