:root{
    --dark-pink:#FD5852;
    --black: #332622;
    --white:#F8F5F4;
    --blue-green: #247ba0;
    --blue:#5f758e;
    --beige: #e6dece;

}


.question_box{
    width: 48%;
    padding: 20px;
    box-shadow: 2px 3px 5px var(--blue-green);
    border-radius: 10px;
}

.question_box p{
    line-height: 1.6;
    padding-left: 20px;
    font-size: clamp(14px ,1.8vw ,16px);
}



@media(max-width : 992px){
    .question_box{
        width: 100%;
    }
}



@media(max-width:768px){
    #questions_area{
        width: 100%;
    }
}